<div class="_container">
  <h1>Hello Angular</h1>

  <hr>
    <div>
      <button
        style="text-align: center; margin: auto; display: block;"
        (click)="toggleCards()
      ">Toggle Cards</button>
    </div>
  <hr>

  <div *ngIf="toggle; else noCards">
    <app-card
      *ngFor="let card of cards; let idx = index"
      [card]="card"
      [index]="idx + 1"
    ></app-card>
  </div>

  <ng-template #noCards>
    <p style="text-align: center">Cards are hidden!</p>
  </ng-template>
</div>

